h1.centred(data-jmpress = "fade after 500ms step") Choose a character
div.row.grid.centred(data-jmpress = "fade-slow after 1s prev")
	a(href = "#coronni")
		figure.box.character.threecol
			i.icon-user.huge
			figcaption.character-name Coronni
				p.description
					| TinBu leader of the elite commander squad, mother of two religious TinBu leaders
	a(href = "#sibero")
		figure.box.character.threecol
			i.icon-user.huge
			figcaption.character-name Sibreo
				p.description
					| Officer of financial affairs in the district of Yiqhea on Mars
	a(href = "#optunna")
		figure.box.character.threecol.last
			i.icon-user.huge
			figcaption.character-name Optunna
				p.description
					| Young mercenary responsible for the execution of dominating religious leaders
div.row.grid.centred(data-jmpress = "fade-slow after 1s prev")
	a(href = "#huddiu")
		figure.box.character.threecol
			i.icon-user.huge
			figcaption.character-name Huddiu
				p.description
					| Collective policy agent in foreign affairs for known colonized planets in the Collective
	a(href = "#mina")
		figure.box.character.threecol
			i.icon-user.huge
			figcaption.character-name Mina
				p.description
					| Young woman civilian, raising three orphaned children.  Works as a Reinforcer on the side.
	a(href = "#clide")
		figure.box.character.threecol.last
			i.icon-user.huge
			figcaption.character-name Clide
				p.description
					| Mina’s youngest, orphaned brother.  (has secret roles too)