h1.centred(data-jmpress = "fade after 500ms step") Choose a character
div.row.grid.centred(data-jmpress = "fade-slow after 1s prev")
	a(href = "#the-ship")
		div.fourcol
			figure.box.character
				i.icon-user.huge
				figcaption.character-name
					h1 Coronni
					p.description
						| Admiral and TinBu leader of the elite commander squad, mother of two TinBu leaders.  Works closely with Karina to discover potential threats to the Gilesian galaxy.
	a(href = "#sibreo-intro")
		div.fourcol
			figure.box.character
				i.icon-user.huge
				figcaption.character-name
					h1 Sibreo
					p.description
						| Officer of financial affairs in the district of Yiqhea on Gilese 581 g
	a(href = "#opt-intro")
		div.fourcol.last
			figure.box.character
				i.icon-user.huge
				figcaption.character-name
					h1 Optunna
					p.description
						| Young mercenary responsible for the execution of Tyrants - or people who have committed&nbsp;
						em thought crime
div.row.grid.centred(data-jmpress = "fade-slow after 1s prev")
	a(href = "#")
		div.fourcol
			figure.box.character.locked
				i.icon-locked.huge
				figcaption.character-name
					h1 Huddiu
					p.description
						| Collective policy agent in foreign affairs for known colonized planets in the Collective
	a(href = "#")
		div.fourcol
			figure.box.character.locked
				i.icon-locked.huge
				figcaption.character-name
					h1 Mina
					p.description
						| Young woman civilian, raising three orphaned children.  Works as a Reinforcer on the side.
	a(href = "#")
		div.fourcol.last
			figure.box.character.locked
				i.icon-locked.huge
				figcaption.character-name
					h1 Clide
					p.description
						| Mina’s youngest, orphaned brother (has secret roles too).