section#the-truth.slide
	hgroup
		h1.title.centred The truth is not that simple.
		h2 It’s likely that this process which has been governing our multiverse in all observable dimensions has repeated itself multiple times since The Conflict.

section.slide(data-x = "4000")
	p.huge.centred(data-jmpress = "fade after 1s slide") Even before the age of Pycies, humans existed;
		span(data-jmpress = "fade after 2s prev") in fact
		| they existed in a more sophisticated form…
		span.larger.tech(data-jmpress = "fade after 1s prev") even more sophisticated than us.
section.slide(data-x = "8000")
	hgroup
		h1.centred(data-jmpress = "fade after 2s slide") But what’s most fascinating is that humans still fought.
		h2(data-jmpress = "fade after 1s prev") They still fought over
		h3.tech-fat.larger(data-jmpress = "fade after 1s prev") land
		h3.tech.large(data-jmpress = "fade after 1s prev") matter
	p.huge.pull-right(data-jmpress = "fade after 2s prev")
		| items they thought valuable

section.slide(data-x = "12000")
	h1.centred(data-jmpress = "fade after 2s slide") The genus I speak about is now known as the Dyshtas
	p.huge.centred(data-jmpress = "fade after 1s prev") Only recently, our collective discovered remnants of their
	| kind. Some of our greatest minds have attempted to solve the puzzles of their ancestry, but this has led to no conclusive evidence.  What has been discovered, however, is that the species, like us in our earlier forms, competed against its own kind.  Recent studies have posited that they fought each other with such contempt that they brought Armageddon on themselves, in all worlds in which they lived.