mixin dialog(title, description, choices, destination)
	form.choices.dialog.row
		legend.centred
			h1 #{title}
			p.description #{description}
		fieldset.centred
			for choice in choices
				label(for = choice.name)
					input(type= "radio", id = choice.name, value = choice.name, name = title,
					data-destination = choice.destination)
					| #{choice.name}
		div.row.form-actions
			button.transition-all(type="submit") Make Choice &nbsp;
				i.icon-checkmark