extends layout

block content
	article#jmpress.visuallyhidden
		section.slide#slide-1
			include filler-text
		section.slide#slide-2(data-x = "3500")
			include filler-text
		section.slide#slide-3(data-x = "7500")
			include filler-text
	article.teaser.borderless.top-centred
		div.centred.row.extended-height
			hgroup
				h1.title Welcome to this story
				h4 Press the button to continue
			button.btn.btn-primary#start.start-show.transitioned Go
				i.icon-arrow-right