extends layout

block content
	.row
		.threecol
			aside.sidebar-a.box
				h1 Sidebar A
				p
					| This is an&nbsp;
					code aside
					| &nbsp;with the class of
					code sidebar-a
					| .
		.sixcol
			article(role = "main")
				h1 Hello world!
				p This is HTML5 Boilerplate.  Some more content here.
		.threecol.last
			aside.sidebar-b.box
				h1 Sidebar B
				p
					| This is an&nbsp;
					code aside
					| &nbsp;with the class of&nbsp;
					code sidebar-b
					| .