extends layout

block content
	nav.controls.toolbar
		button.btn.show-prev(title = "Previous Slide")
			i.icon-arrow-left
		button.btn.show-next(title = "Next Slide")
			i.icon-arrow-right
	article#jmpress
		section.slide.toggle-controls#welcome
			header.intro
				h1.title Introduction to&nbsp;
					em Yeoman
				h2.subtitle.description.type Improving your front-end workflow with scaffolding tools
			h4 Press the button to continue
				button.btn.btn-primary#start.start-show Go&nbsp;
					i.icon-arrow-right
			footer
				aside
					small Web by&nbsp;
						strong
							a(href = "http://seangoresht.com", target = "_blank") Sean Goresht&nbsp;&nbsp;
						a(href = "https://github.com/srsgores/learning-yeoman", target = "_blank") Fork this on GitHub&nbsp;
							i.icon-github-2
		section.slide.toggle-controls#intro(data-y = "-4500", data-x = "3500", data-z = "5000", data-duration = "11000")
			header
				h1 Hi there
					i.icon-happy.full-icon
			include intro