div.row.centred
	p.huge.type By the time you read this, the worlds may have
		em.scary burned
		| to a crisp.
	p.huge.type Things have been
		em.tech-skinny.type &nbsp;fragile&nbsp;
		| here in our worlds.
	p.pull-left.type Civilization is now at the cusp of extinction.  This isn’t a zombie story.  No; it’s more of an “I’m in more trouble than you are” story.