div.row.centred
	p.huge(data-jmpress = "fade-slow after 1s step") By the time you read this, the worlds may have
		em.scary(data-jmpress = "fade after 1.5s prev") burned
		| to a crisp.
	p.huge(data-jmpress = "warp-left after 2s prev") Things have been
		em.tech-skinny(data-jmpress = "fade after 1s prev") &nbsp;fragile&nbsp;
		| here in our worlds.
	p.pull-left(data-jmpress = "warp-left after 2s prev") Civilization is now at the cusp of extinction.  This isn’t a zombie story.  No; it’s more of an “I’m in more trouble than you are” story.