!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if lte IE 7
	script(src = "js/lte-ie7.js")
//if IE 8
	html.no-js.lt-ie9
//if lte IE 8
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if gt IE 8
	html.no-js
head
	title = title
	description = description
	block head
		block header-meta
			meta(charset = "utf-8")
			meta(http-equiv = "X-UA-Compatible", content = "IE=edge,chrome=1")
			title #{title}
			meta(name = "description", content = "#{description}")
			meta(name = "viewport", content = "width=device
		block header-scripts
			script(src = "js/modernizr.custom.min.js")
		block header-styles
			link(href = "http://fonts.googleapis.com/css?family=Nosifer|Ubuntu+Mono|Poiret+One|Russo+One|Open+Sans:400,300|Electrolize", rel = "stylesheet")
			//review and refine: http://www.google.com/webfonts#ReviewPlace:refine/Collection:Nosifer|Ubuntu+Mono|Poiret+One|Russo+One|Open+Sans|Electrolize
			link(rel = "stylesheet", href = "/css/style.css")
body
	#ajaxloader1
	block header
		header.row.centred
	#content.container.visuallyhidden.loading
		block content
	block footer
		footer.row.centred.visuallyhidden
	block scripts
		script(src = "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src = "/js/jquery.migrate.min.js")
		script(src = "/js/jmpress.custom.js")
		script(src = "/js/toastr.js")
		script(src = "/js/typewriter.js")
		script(src = "/js/loader.js")
		script(src = "/js/main.js")