!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if lte IE 7
	script(src = "/js/lte-ie7.js")
//if IE 8
	html.no-js.lt-ie9
//if lte IE 8
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if gt IE 8
	html.no-js
head
	block head
		block header-meta
			meta(charset = "utf-8")
			meta(http-equiv = "X-UA-Compatible", content = "IE=edge,chrome=1")
			title #{title}
			meta(name = "description", content = "#{description}")
			meta(name = "viewport", content = "width=device-width")
		block header-scripts
			script(src = "js/components/modernizr/modernizr.js")
		block header-styles
			link(href = "http://fonts.googleapis.com/css?family=Lato:300,400|Roboto:400,300", rel = "stylesheet")
			link(rel = "stylesheet", href = "/css/style.css")
			link(rel = "stylesheet", href = "//cdn.jsdelivr.net/codemirror/3.14.0/codemirror.css")
body
	div.container
		block header
			header
		#content
			block content
		block footer
			footer
	block scripts
		block extra-scripts-start
		script(src = "/js/components/jquery/jquery.min.js")
		script(src = "/js/components/jquery/jquery-migrate.min.js")
		script(src = "/js/components/jmpress/jmpress.js")
		script(src = "/js/typewriter.js")
		script(src = "https://cdn.firebase.com/v0/firebase.js")
		script(src = "//cdn.jsdelivr.net/codemirror/3.14.0/codemirror.js")
		script(src = "/js/firepad-min.js")
		script(src = "/js/main.js")