hgroup.centred
	h1.title.top-centred.scary(data-jmpress = "fade-slow after 1s step") Once upon a time...
	h2(data-jmpress = "fade after 1s prev") There was a cranky old man
p.centred(data-jmpress = "warp-left after 2s h2") The man lived in an old apartment in Calgary.
p.pull-right(data-jmpress = "warp-right after 2s prev") with his old TV.
p(data-jmpress = "warp-left after 2s prev") He spent most of his time alone