section.slide#opt-intro
	div.row
		hgroup.centred
			h1 It all began during my training, as I was being assigned my last mission
			h2 As an assassin for those who committed
				em.tech Thought Crime
section.slide#thought-crime
	div.row
		hgroup.centred
			h1 Thought crime
				em.pull-right ...
			h2 Also known as
				em false reporting
		p.huge It was the biggest of all treason in our colonies.  Any submitted or uploaded record that went against another witness's account for the event was treated as treason, resulting in a potential death sentence
section.slide
	div.row
		hgroup.centred
			h1