extends layout

block header
	nav(role = "main").toolbar.row
		a.btn(href = "/") Home&nbsp;
			i.icon-home
		a.btn(href = "#firepad") Edit Story&nbsp;
			i.icon-pencil-2
block content
	article(role = "main").row
		section#prologue
			h1 Prologue
			p By the time you read this, the worlds may have burned to a crisp.  Things have been fragile here in our worlds.  Civilization is now at the cusp of extinction.  This isn’t a zombie story.  No; it’s more of an “I’m in more trouble than you are” story.
			p The war begin in 2135.  Lighting spheres lit the skies, which were operated by charged superconductors.  Half the people’s population was heavily dispersed amongst other exoplanets, Gilese 581 d being one of them, which was colonized in 2094.  At this point, civilization thrived.  Human life had been extended by over 230 years, and what we call ourselves could just maybe be called people.
			p But we were still human.
			p My story begins where yours ends.  You see, us so-called “humans” have been around for millennia.  What used to be taught in what I was told was called school was that we have been around no more than 4 million years.  Before that came micro-species, other micro-organisms, which were later documented by mankind.

			p It was all lies.

			p The truth is not that simple.  It’s likely that this process which has been governing our multiverse in all observable dimensions has repeated itself multiple times since The Conflict.  Even before the age of Leo, humans existed; in fact, they existed in a more sophisticated form… even more sophisticated than us.  But what’s most fascinating is that humans still fought.  They still fought over land, matter, items they thought valuable.  The genus I speak about is now known as the Dyshtas.  Only recently, our collective discovered remnants of their kind.  Some of our greatest minds have attempted to solve the puzzles of their ancestry, but this has led to inconclusive evidence.  What has been discovered, however, is that the genus, like us in our earlier forms, competed against its own kind.  Recent studies have posited that they fought each other with such contempt that they brought Armageddon on themselves, in all worlds in which they lived.

			p It appears this process is about to repeat itself all over again.  Just as our records posit the Dyshtas killed each other, we are about to do the same.

		section#coronni
			h1 Coronni's Story
			p The ship glided through the void, as we sat, propelled in mid-air unaware of what was to come next.  It was scary to be out there, actually.  I had thought about all the times I had wished I had stayed home.  But as the message had come in from the collective as clear as ever - that all good admirals had to maintain their duty, for the peace of the universe, I realized I had no choice.  As soon as I started wondering about all the lost troops in an unknown land dubbed “Kirshim”, thoughts pulled my mind away.  As with other things.
			p Scanning what looked to be the void, I activated the ultraviolet beam lasers.  A bright wave of colours flooded the asteroids, which the auto-pilot system mercilessly evaded.  Never anything interesting.
			p From time to time, I would think about the collective.  But as I got closer and closer to the border, I began to realize my thoughts were wondering off less frequently.  The way the collective worked was common knowledge; however, just how far its signals reached was unknown outside the universe.  Some of us had suspicions about Karina’s range.  At all times, troops were being surveyed.  We knew Karina was watching, so all of us never went outside the universe.  We all wondered about why it was forbidden to leave the galaxy, but we could only ever do so for a couple milliseconds.
			p That was, until I saw something riveting.
			p All of us were shocked.  This time, shining the UV light, we didn’t find asteroids, rocks… nothing of that nature.  The mere fact was, we weren’t able to identify it at all.  It had what appeared to be the form of a vision metering system: dark, grey electric Radeon, fibre tubes glaring with a slimy substance, and electrical charges read off the charts.  I stopped the vessel, communicating to the others to stay put.  “Engage your suits,” I instructed them.  The others disengaged their thrusters suspending them in the air, and engaged their suits.  One of them opened the door, and we exited the vessel.  As we moved towards the object, our electrical charge readings grew.  I turned on our electricity deflectors to avoid our risk, and took over piloting the other’s suits.  The closer we got, the more clear it became: we weren’t supposed to find this.  But more and more, our curiosity was enticed.  Karina must have been encouraging us to check more, out of potential for a threat to our galaxy, and as we increased our thrusters’ speed, we started to feel nocuous.  When we finally got there, engaging our thrusters on max, we moved our hands up to pull it towards us, scared to touch it.  To our surprise, the object complied, gliding towards our embedded devices.
			p Once we brought it back to the vessel, things got weird.  As soon as we restarted the air systems, the tubes and slime dissipated to reveal a metal-like crystalized polygon.  Approaching it slowly, as its electrical levels increased even more… and more… until a flash so bright blinded my mind.
			p The next thing I remember is waking up, feeling like never before.  My mind raced, but at the same time, it was throbbing.  The ship’s lights were fading in and out, likely due to a system malfunction.  Then I noticed something was missing: Karina!  I knocked aside an air device, as I attempted to enable my suit.  Nothing.  As the world spun, I tried communicating with the others.  Nothing.
			p A unique silence enveloped me, and I looked for the others, crawling towards the exit.  Three of my members lay in a sleep-like state, unaware of the chaos.  The ship barrelled towards an unknown destination, and I attempted to gain control.  The sirens grew louder, the ship shrinking in on me.  I moved closer to the rest of the crew, shaking each of the members.  I then realized I was becoming deprived of oxygen.  But as much as I tried to gain balance, the ship became more unstable.  I then passed out again.

			p I awoke once again, this time to a grayish light protruding from the demolished ship’s entrance.  Instinctively, I ordered the door to open, but only a spark appeared.  Attempting to reach Karina also failed.  Slowly, I realized something was off.  The ship stank of a murky, musky odour.  I noticed I was perspiring.  As I attempted to get up, I felt a throbbing pain in my artificial limbs.  Something was off.  I slowly got up, the sensation increasing.  Was this pain, I wondered.  I finally made it to the exit, having to resort to prying apart the door, non-functional.
			p
				i The world which awaited me was unlike anything I had ever seen before.  It could only be the land of the Dyshta… the terrain read of static electric charges, the surface’s chemistry of hydrogen compounds for the most part.  Crystalline objects floated in the air, which read at a higher level of oxygen than I had ever observed before.
			p
				i Then she finds the planet of the prophets, the older civilization of humans which converts her, and she becomes a rebel.  In the process, she kills a troop member who raises a potential threat and is possibly still being controlled by Karina due to a newer system (range of the zin-q virus varies depending on the target immune system).  In the story, you can decide whether to take the risk of letting the questionable troop member come with you, but ultimately, she turns out to be controlled by Karina.
			p
				i On the planet, Coronni meets some of the people of the planet and discovers they have technology similar to the Dyshtas, and that they may be able to defeat the virus… at the cost of losing all communication mechanisms to the Collective.  After executing her questionable troop member, she leaves the body for dissection by a member of their galaxy, and heads back to her own Galaxy.
			p
				i In her galaxy, she fights back against Karina, meeting Clide, Hiddiu, Sibreo, and the others.

		section#optunna
			h1 Optunna's Story
			p Things had been going well for me.  I wasn’t a great Thinker, but I definitely fulfilled my duties each day.  Each person was able to verify my successes, all of them clearly documented on the Archive.  Overall, I knew who I was: an Executioner; and though I was aware about the connotations behind it, I was sure we were all aware of the good of the people.

			p Or so we had been told.

			p I may have been happy, but there was something missing.  I knew it.  Yet as soon as I started thinking about it, Karina swayed my thoughts away to some distant place, informing me of a new tyrant.  Research would commence immediately thereafter, my mind querying the results of the tyrant.  At first, this made me want to think about it even more, but I soon realized that any attempt to be sad was futile.

			p Sometimes I wondered how these tyrants resisted Karina’s indirect influence.  I couldn’t wonder for long, of course.  The thing that confused me most was the motivation of these individuals; for if they were encouraged by Karina herself, then why would then disobey her orders?  Ultimately, and with the documentation available on the Archive, I could only reason that the actions of the tyrants weren’t their own wrong-doing; rather, it was Karina’s fault for improperly guiding them.

			p With each passing day, I observed a gradual decline in the civilization’s satisfaction.  It was sometimes hard to gauge, as reports came in only every four lunar months, severely modified to suit the needs of the Collective.  I doubt anyone even considered the statistics to be a prediction to the war… until the war began.

			p I was nineteen at the time.  I had been fulfilling my duties in my Colony, serving for the better good under Karina.  Though I was employed with a well-paid position, I felt at a loss.  My biological mother died when I was fifteen, leaving my younger brother, a ten-year-old at my side.  Between juggling thoughts of my younger brother, teaching him mind management techniques, and analyzing real-time tyrant data, my mind was constantly swimming in thoughts.  I had thought briefly about closing off, which I hadn’t done for years, but Karina’s wisdom guided me; as cyborgs, colonies despised the containment of data.  Since 2045, the release of the zin-q-virus, humans saw themselves as a blend.  The virus gave humans superpowers beyond our dreams; humans were able to live at the edge of planets, blood levels were off the charts, and immune resistance was maximized.  Combining this with the ability to call up data at any time from the Archive and to communicate with the Collective gave rise to a new human-cyborg ‘revolution’: humans thought together, moved together, acted together.  Everything was in sync.

			p It only took some time for humans to get used to this, to see it as an expectation.  Evolution soon caught up too.  ‘Humans’ were being born with the virus in them, born with the endurance of their parents.  The greatest thinkers were constantly being bombarded with requests, information on how to act, and opinions.  The lack of privacy led to a galaxy-wide decision that a leader should be generated, a god of sorts: they called her Karina.  We call her Karina.

			p Most of the tyrants were outsiders, most of them located at the upper ends of the zenosphere.  Though members of our colony could live in those remote areas, it was different for us.  Travelling between the atmosphere or stratosphere to the zenosphere – the highest level of our atmospheres – had been reported to cause semi-apparent disruption to the visual cortex of some individuals, leading to hallucinations, false reporting in the archive, and disease in some cases.  False records were a crime.  Anyone’s memory corresponding to an undocumented event could be flagged under the authorities of Karina, and the corresponding individual could be charged of the crime.  In the case of those in the zenosphere, the false records often led to doubts during memory trial for the tyrants, giving them a better chance of an innocent verdict.  Also, members of the zenosphere seldom released information about their observations, and so, were shunned by the rest of society.

			p You might think that my duty would cause me to hallucinate and be more susceptible to false reporting.  In fact, the opposite: assasins are trained prior to mastery, at which time they are tested rigorously for birth defects that the zin-q virus may not have detected.  This, followed by in-depth bio-scans served to identify any potential threat to false reporting.  I was no exception; and during my training, coupled with my journeys, I became adept at travelling the so-called “layer”.  Moreover, I knew a tyrant when I saw one: that shaking cringe, caused by the resistance of being closed off, that fleeting sensation of a missing voice… then inside, a spiteful hate for our system.  This is how I learned to recognize the traitors… and this is what I saw in those that were accused… by Karina.

			p When I first analyzed the report of twenty false records, I doubted its authenticity.  Then Karina swayed my opinion somehow, allowing me to understand it was due to the emerging condition of hyperproxia, a known disorder to affect wireless transmission of data to the collective.

			p At the same time, I had been dealing with a female trainer in the Hiwa West Quarter of the Colony, located near the “layer”.  I had been assigned the individual with the status of “execute on false report”, meaning should Karina deem my memory authentic and the accused’s inauthentic, I would have the right to execute.  This was when my world changed… literally.

			p Sending goodbye to my brother, Clide, I released the gravity locks on our system.  I pulled my only ship, plated of //

			p Optunna is assigned to kill her own supervisor, as Karina has hidden from her that she is the target.  Karina is shocked, and faces a decision: kill her supervisor or let her live.  (Make choice here).  If she kills her supervisor, Karina rewards her by providing her with her next target: an Admiral by the name of Coronni and her troop.

			p
				i When Optunna finds Coronni, Coronni is accompanied by hundreds of unknown species.  A war has begun, and the colony is being attacked.  Karina informs her that the target may be armed, but is unable to know any other information.  She instructs Optunna to kill Coronni at all costs.  When Optunna searches the collective, she discovers that many minds have disappeared.  First, Optunna must decide whether to flee home to try to save her brother Clide (Make a choice here) or whether to obey Karina’s orders and to risk her life.

			p
				i If Optunna fights, she becomes converted, and she loses her powers, becoming a normal human again.  She teams up with Coronni and the troop to raid the mothership containing Karina, and must destroy the machine.
			p My home planet, 172.02, was colonized in 2064, not long after the onset of the zin-q virus...
			section#sibreo
				h1 Sibreo's Story
				p
					i Sibreo, officer of financial affairs in Gliese 581 d.  Is directed by Karina to monitor the situation as the war progresses by creating investments to offset capital loss.  As Karina is able to predict stock values, Sibreo will make money in this, though Sibreo is aware of the controversy it would cause if Karina were to reveal his thoughts.  Karina’s prediction is that in allowing the colony to increase capital, it will show the attacker that they have chosen the wrong target, perhaps diverting an attack to another extrasolar planet.
				p
					i After Sibreo returns home, he is asked by his wife to  

	article#characters
		Coronni	TinBu leader of the elite commander squad, mother of two religious TinBu leaders
		Sibreo	Officer of financial affairs in the district of Yiqhea on Mars
		Optunna	Young mercenary responsible for the execution of dominating religious leaders
		Huddiu	Collective policy agent in foreign affairs for known colonized planets in the Collective
		Mina	Young woman civilian, raising three orphaned children.  Works as a Reinforcer on the side.
		Clide	Mina’s youngest, orphaned brother.  (has secret roles too)
	article#firepad
		h1 Continue this Story&nbsp;
			a(href = "#firepad", class = "show-pad")
				i.icon-pencil
block extra-scripts-start
	script(src = "https://cdn.firebase.com/v0/firebase.js")
	script(src = "/js/codemirror.js")
	script(src = "/js/firepad.js")
block extra-scripts-end
	script(src = "/js/editStory.js")