section.slide.step#sibreo-intro(data-y = "2000", data-scale = "0.4")
	div.row
		hgroup.centred
			h1 It all began during my training, as I was being assigned my last mission
			h2 As an assassin for those who committed
				em.tech Thought Crime
section.slide.step(data-x = "8000", data-y = "200", data-scale = "0.4")
	div.row
		hgroup.centred
			h1(data-jmpress = "fade after 2s slide") Thought crime
				em(data-jmpress = "fade after 1s prev").pull-right ...
			h2(data-jmpress = "fade after 1s prev") Also known as
				em(data-jmpress = "fade after 1s prev") false reporting
		p.huge(data-jmpress = "fade after 1s prev") It was the biggest of all treason in our colonies.  Any submitted or uploaded record that went against another witness's account for the event was treated as treason, resulting in a potential death sentence
section.slide.step(data-x = "4000", data-y = "200", data-scale = "0.4")
	div.row
		hgroup.centred
			h1 At the same time, I had been taking care of my little brother, clide
			h2 He was everything to me
		p.huge Though I was well-off in terms of my duty, it was often difficult to juggle teaching him mind management techniques
